h1 {
	text-align: center;
	color: black
	font-size 50px; 

	
}

div {

position: center; 

}
p {
	text-align: center;
	color: pink
	font-size 50px;
	font-family:  comic sans MS; 
}

body {

	background-color: turquoise;
	color: #000; 
	font-size: 20px; 
	font-family:  comic sans MS; 


}

span {
	color: Purple;
	font-size: 40px;

}


